	
html, body {
  height: 100%;
  font-style: normal;
  font-weight: 500;
  color: #585858;
  font-size: 13px;
  line-height: 16px;
  }
.row{
  margin-right: 0px;
  margin-left: 0px;
}

.col-sm-10{
padding-right: 0px;
padding-left: 0px;
}
span{
font-size:14px;
}
.order_div{
padding:20px;
}
@media (max-width: 1000px){
.orders__filters-item {
    margin-right: 0px;
    display: flex;
    align-items: center;
    margin: 10px;
}
}
.header__controls.open {
right: 0;
display: flex;
}
.table-responsive {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}
.pagination{
padding-top: 10px;
margin-left: auto;
}
dl, ol, ul {
margin-bottom: 0rem;
}
.product-form{
width: 100%;
padding-bottom: 0px;
}
.product-text{
height: 50px;
padding-left: 20px;
/* margin-left:50px; */
}
.dataTable{
border-style: solid;
border-width: 1.5px;
border-color: #E8EEF1;
}
.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(0, 243, 255, 0.05);
}
.check-box{
width: 80%;
padding-left: 80px;
}
.purprice-title{
padding-top:20px;
padding-bottom:20px;
font-size: 16px;
line-height: 10px;
margin-bottom: 0px;
font-weight: bold;
}
.react-datepicker-wrapper{
width:100%
}
.myDatePicker {
  height: 40px !important;
  width:100%;
  height:calc(1.5em + .75rem + 2px);;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced4da;
  padding: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
.myDatePicker:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.product-details{
padding-bottom: 20px;
}
.btn-small{
width:10%;
}
.transport{
padding-bottom: 50px;
}
.sales-details{
  max-width: 750px;
  padding-bottom:20px;
}
.add-row{
display: inline-block;
margin: 0.375rem;
}
.prurprice-dataTable {
  border-style: solid;
  border-width: 1.5px;
  border-color: #E8EEF1;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}
.purchase-order-table{
  max-height: 300px;
}
.login-page{
text-align: center;
}
.login-page-div{
margin-top: calc(23%);
/* border-radius: 5px; */
height: 450px;
background-color: white;
}
.login-form{
padding-top:30px
}
.orders__filters-search {
width: calc(60%);
}
.sign-in{
font-size: 15px;
width: 160px;
height: 35px;
margin-bottom: 20px;
background-color: #2dafe5;
color:#ffffff;
}
.sign-in:hover{
font-size: 15px;
width: 160px;
height: 35px;
margin-bottom: 20px;
background-color: #ffffff;
color: #2dafe5;
}
.login-side-div{
height: 100%;
width: 25%;
background-color: #2dafe5;
}
.login-page-div{
padding: 0px;
position: fixed;
top: 50%;
left: 50%;
width: 47em;
margin-top: -17em;
margin-left: -24em;

}
.login-side-grad{
left:0;
margin-top: 370px;
}
.error-messages {
padding: 5px;
color: #DC2C2C!important;
font-size: 13px;
font-weight: 700;
}
.statu-item {
padding-left:20px
}
.dashboard__top{
padding-top:20px
}
.credit-form{
padding-bottom:10px
}
.payment{
margin-top: 8px;
width: 60%;
height: 53%;
}
.file-table{
height: 260px;
}
.modal_button{
width: 100px;
}
.addQuestion{
  width: 100%;
  color: #333333;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}
.vertical-center {
  padding:0;
  margin-top: calc(23%);
  height: 500px;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn {
  text-transform: none;
}
.btn-success.dropdown-toggle {
  background-color: #ffffff!important;
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem #ffffff
}
.btn-success.dropdown-toggle:hover, .btn-success.dropdown-toggle:focus {
  background-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem #ffffff
}
.btn-success.dropdown-toggle:focus{
  background-color: #ffffff !important;
}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
  background-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem #ffffff;
  border-color: #ffffff;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #ffff;
  border-color: #ffff;
}
.btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  box-shadow: 0 0 0 0 #ffff;
  background-color: #ffff !important;
}
.select-lang-class{
  padding-top:5px;
  padding-right: 5px;
  width: 79px;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  /* -webkit-appearance; */
  border-radius: 5px;
  -webkit-appearance:button;
}
.dataTables_wrapper .dataTables_filter input:active {
  margin-left: 0.5em;
  /* -webkit-appearance; */
  border-radius: 5px;
  -webkit-appearance:button;
}
@media (max-width: 768px){
  .select-lang-class{
    width: 79px;
    padding-bottom:10px
  }
  }
.react-confirm-alert-button-group {
  justify-content: flex-end;
}
.statu-item{
  cursor: pointer
}
table.dataTable.no-footer {
  border-bottom: 2px solid #ece9e9;
}
.input-detail{
  margin-left:20px
}
.place-and-orders__top {
  border-bottom: 1px solid #2dafe5;
}
.product-detail-table{
  padding-top:20px
}
.header__user-img{
  margin-left:5px
}
.customer-name{
  cursor: "pointer"; 
  color:'#004388';
  font-Size:"13px";
  font-Weight:'bold';
}
@media (min-width: 1200px){
  .container {
      max-width: 100%;
  }
}
@media (min-width: 576px){
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}
.card-container-col{
  padding: 0px;
  box-shadow: -5px 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  border-color:rgba(0,0,0,.125);

}
.card-container-col-finance{
  padding: 0px;
  box-shadow: -5px 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color:rgba(0,0,0,.125);
}
.card{
  height: 100%;
  border: 0px
}
.codex-address{
  margin-Top:-10px;
  padding-Left:10px;
}
.codex-content{
  font-size:13px;
  display:flex;
  padding-top:10px;
  padding-bottom:10px
}
.panel-collapse{
  padding-top:20px
}
.customer-detail{
  margin-right: 0px;
}
.active-icon{
  color: #2EC826;
  margin-Top:3px;
  padding-right:7px;
  margin-left:-9px
}
.inactive-icon{
  color: #A3A5AC;
  margin-Top:3px;
  padding-right:7px
}
.contact-detail-header{
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}
.card-header{
  font-weight: bold;
}
.dataTables_wrapper {
  padding-top: 10px
}
.modal-content{
  width: 110%;
}
.craete-visitreport-row{
  margin: 0;
  padding: 30px;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0 0.8rem 0.1rem rgba(15, 72, 179, 0.06), 0 20px 30px -10px rgba(15, 72, 179, 0.2);
}
.create-visitreport-form{
  padding:20px
}
.required-asterisk{
  color: red
}
.create-report-header{
  font-size:20px;
  background-color:#3d55d2;
  padding: 13px;
  color: white;
  font-weight: bold;
}
.create-report-header-title{
  font-weight: bold;
  font-size:20px;
  padding:20px
}
.select-visit-answer{
  height: 50;
}
.css-1szy77t-control:hover {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}
.css-1szy77t-control{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
  border-color: #80bdff !important;
}
:focus {
  outline: -webkit-focus-ring-color 3px;
}
input:focus {
  outline-offset: 0px;
}
.dashboard-map-layout{
  margin: auto;
  width: 98%;
  height: 600px;
  margin-top: 50px;
  padding-left:0px;
  padding-right:0px;
  padding-top: 30px;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0 0.8rem 0.1rem rgba(15, 72, 179, 0.06), 0 20px 30px -10px rgba(15, 72, 179, 0.2);
}
.slider.slider-horizontal {
  width: 100%;
  height: 20px;
}
.slider-tick{
  display: none;
}
.select-customer-dashboard{
  width: 85%;
  margin-top: 8px;
  padding-right:5px;
}
.markinfo-header-text{
  font-size: 16px;
  font-weight: bold;
  text-decoration:underline;
  text-decoration-style: dotted;
  
}
.markinfo-year-text{
    margin-top:10px;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
}
.login-input-email{
  background-size: 22px;
  font-size: 16px;
  background-image: url(../images/icon-letter-log.svg);
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 55px;
  font-family: Oxygen, sans-serif;
  margin: auto;
  outline: 0;
  width: calc(60%);
}
.login-input-password{
  background-size: 22px;
  font-size: 16px;
  background-image: url(../images/icons-lock.svg);
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 55px;
  font-family: Oxygen, sans-serif;
  margin: auto;
  outline: 0;
  width: calc(60%);
}
.login-select-lang-class{
  width: calc(60%);
  margin:auto
}
.react-phone-number-input__icon-image {
  margin-top:-13px;
  max-width: 100%;
  max-height: 100%;
}
input:-internal-autofill-selected {
  background-color: rgb(54, 96, 170) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

.task-table-tr-past{
  background-color: #f7aaaa !important; 
  color:white !important;
}
.css-es53b3-multiValue{
  background-color: #C4DDF8 !important;
  border-radius: 4px !important;
}
@media (min-width: 576px){
  .top-content {
    /* padding */
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
/* .credit-history{
  max-height: 1000px;
}
.accordion-item--opened{
  max-height: 1000px;
} */
.modal-header-doc {
  border: 1px solid #47C0F8;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 17px;
}
.swal-button{
  background-color: #4e9bea;
}
.swal-icon--success__line{
  background-color: #6ddc2e;
}
.swal-icon--success__ring{
  border: 4px solid hsl(98, 60%, 64%);
}
.product-text {
  height: 50px;
  padding-left: 20px;
  /* margin-left: 50px; */
}
.gauge{
  width: 70 !important;
  height: 50 !important;
}
.sort-style {
  background : none !important;
  border-top: 1px solid #fff !important;
}
.drag-file-upload{
  text-align: center;
  background-color: #C8D9E0;
  min-height: 200px;
  outline: 2px dashed #A1B9C3;
  outline-offset: -10px;
}
.drag-file-upload__title {
  padding-top: 40px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.status-toggle{
  border: 1px solid #e7e7e7;
  border-width: 1px 1px 4px 1px;
  min-height: 150px;
  padding: 5px 10px;
  display: block;
  overflow: auto;
  max-height: 410px;
}

.page-loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}
.menu__link--active .menu__link-div--active{
	background-color: #4697D1;
	border-radius: 0px 30px 30px 0px;
}
.menu__link:hover .menu__link-div--active{
	background-color: #4697D1;
	border-radius: 0px 30px 30px 0px;
}
.menu__link-div{
	width: 5px;
	height: 17px;
}
.menu__link--active .menu-link__icon--active{
	fill: #4697D1
}
.menu__link:hover .menu-link__icon--active{
	fill: #4697D1
}
.menu-link__icon{
	fill: #585858;
}
.add-icon{
  font-style: normal;
  cursor: pointer;
  margin-right: 3px;
}
.btn-primary{
  height: 30px;
  background-color: #4697D1;
  border-color: #4697D1;
  border-radius: 4px;
}
.btn-primary:hover {
  background-color: #0E82D6;
  border-color: #0E82D6;
}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{
  color:#fff;
  background-color:#05558D;
  border-color:#05558D
}
.btn-primary.disabled,.btn-primary:disabled{
  color:#fff;
  background-color:#B9C0CE;
  border-color:#B9C0CE
}
@media (min-width: 1300px){
  .side-bar__div {
    width: 280px;
}
}

.table.dataTable thead .sorting{
  background-image: none;
}
.dataTable{
  border-width: 0px;
}
table.dataTable.no-footer {
  border-bottom: 0px solid #111;
}
.table tbody td {
  color: #585858;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
  border-bottom: 1px solid #EAF0F2;

}
.table th {
  color: #585858;
  padding: .75rem;
  vertical-align: middle;
  border-top: 0px solid #dee2e6;
}
.table thead th {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 16px;
  color: #585858;
  vertical-align: middle;
  border-bottom: 1px solid #EAF0F2 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #E2E3E4;
  border-radius: 4px;
  background-color: #F5F6F7;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	cursor: default;
	color: #666 !important;
	border: 1px solid transparent;
	background-color: #F5F6F7;
	box-shadow: none
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 0.8em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  cursor: hand;
  border: 1px solid #E2E3E4;
  border-radius: 4px;
  margin-left: 5px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #585858;
  padding-top: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: white !important;
	border: 1px solid #585858;
	background-color: #585858;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #585858));
	background: -webkit-linear-gradient(top, #585858 0%, #585858 100%);
	background: -moz-linear-gradient(top, #585858 0%, #585858 100%);
	background: -ms-linear-gradient(top, #585858 0%, #585858 100%);
	background: -o-linear-gradient(top, #585858 0%, #585858 100%);
	background: linear-gradient(to bottom, #585858 0%, #585858 100%)
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	outline: none;
	background-color: #585858;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #585858));
	background: -webkit-linear-gradient(top, #585858 0%, #585858 100%);
	background: -moz-linear-gradient(top, #585858 0%, #585858 100%);
	background: -ms-linear-gradient(top, #585858 0%, #585858 100%);
	background: -o-linear-gradient(top, #585858 0%, #585858 100%);
	background: linear-gradient(to bottom, #585858 0%, #585858 100%);
	box-shadow: inset 0 0 3px #585858
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background-color: #F5F6F7;
  box-shadow: none;
  display: none;
}
.bottom-datatable{
  display: flex;
}
.dataTables_info{
  margin-left: auto;
  margin-top: 7px;
  margin-right: 20px !important;
}

.dataTables_length select{
    height: 28px;
    width: 46px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
.dataTables_length select option{
  border: 1px solid #E2E3E4;
}
.table td {
  padding: .75rem;
  vertical-align: middle;
  border-top: 1px solid #fff !important;
}
.btn-light{
  height: 30px;
  border-radius: 4px;
  color:#585858;
  background-color:#ffffff;
  border-color:#E1E1E1;
  height: auto;
}
.btn-light:hover{
  color:#585858;
  background-color:#e2e6ea;
  border-color:#E1E1E1
}
.btn-light.focus,.btn-light:focus{
  box-shadow:0 0 0 .2rem rgba(216,217,219,.5)
}
.btn-light.disabled,.btn-light:disabled{
  color:#585858;
  background-color:#f8f9fa;
  border-color:#f8f9fa
}
.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active,.show>.btn-light.dropdown-toggle{
  color:#585858;
  background-color:#dae0e5;
  border-color:#d3d9df
}
.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus,.show>.btn-light.dropdown-toggle:focus{
  box-shadow:0 0 0 .2rem rgba(216,217,219,.5)
}
.form-control {
  font-weight: 500;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 4px;
}
.placeholder-label{
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #585858;
  padding:0 0.2em;
  position:absolute;
  top:-0.6em;
  left:1.8em;
  background-color:white;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}
.active-icon{
  color: #4697D1;
  font-size: 20px;
}
.inactive-icon{
  color: #A3CBE8;
  font-size: 20px;
}
.action-button{
  margin-top: 5px
}
.pagination-botton{
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 0.8em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  cursor: hand;
  border: 1px solid #E2E3E4;
  border-radius: 4px;
  margin-left: 5px;
}

.pagination-botton:hover {
	color: #333 !important;
	border: 1px solid #979797;
}
.pagination-botton:hover {
	color: white !important;
	border: 1px solid #585858;
	background-color: #585858;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #585858));
	background: -webkit-linear-gradient(top, #585858 0%, #585858 100%);
	background: -moz-linear-gradient(top, #585858 0%, #585858 100%);
	background: -ms-linear-gradient(top, #585858 0%, #585858 100%);
	background: -o-linear-gradient(top, #585858 0%, #585858 100%);
	background: linear-gradient(to bottom, #585858 0%, #585858 100%)
}
.pagination-botton.active {
  outline: none;
  color: #333 !important;
  background-color: #EDEDED;
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
	box-shadow: inset 0 0 3px #EDEDED
}
.pagination select{
  height: 28px;
  width: 46px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
}
.pagination select option{
border: 1px solid #E2E3E4;
}
.hiden{
  display: none;
}
.has-search{
  padding: 0px;
  margin-left: auto;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2rem;
  text-align: center;
  pointer-events: none;
  color: #000;
  margin-top: 2px;
}
.has-search .form-control {
  height: 30px;
  padding-left: 2.375rem;
}
.multi-filter__div{
  /* width: auto!important; */
  margin-Left: auto;
  padding-right: 20px;
  min-height: 100px;
  border: solid 1px #EAF0F2;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  right: 48px;
  margin-top: 40px;
  /* width: 40%; */
  background-color: #fff
}
.filter-header__option {
  padding: 10;
  width: 20%;
  height: 30px !important;
}
.filter-header__option .css-1wy0on6{
  min-height: 27px;
  height: 10px;
}
.filter-header__option .css-bg1rzq-control{
  min-height: 27px !important;
}
.filter-header__option .css-1szy77t-control{
  min-height: 27px !important;
}
.filter-date__picker{
  width: 99%;
  height: 30px;
}
.filter-show__hide{
  display: none;
}
.action-title{
  margin-left: 5px;
  font-weight: 500;
  font-size: 13px;
  font-family: Segoe UI;
}